site_name: Movies - Tuberia Example Docs
site_url: https://aidictive.com/tuberia
site_author: guiferviz
repo_url: https://github.com/aidictive/tuberia
repo_name: Tuberia
strict: false
theme:
    name: material
    palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: amber
      accent: amber
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: amber
      accent: amber
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
plugins:
    - tags:
        tags_file: tags.md
    - search
    - include_dir_to_nav
    - mkdocstrings:
        default_handler: python
        handlers:
          python:
            options:
              show_source: true
              show_if_no_docstring: true
              docstring_style: google

markdown_extensions:
    - meta
    # Code highlight.
    - pymdownx.highlight:
        anchor_linenums: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    # MathJax with some options in the extra_javascript.
    - pymdownx.arithmatex:
        generic: true
    # Mermaid plots.
    - pymdownx.superfences:
        custom_fences:
            - name: mermaid
              class: mermaid
              format: !!python/name:pymdownx.superfences.fence_code_format
    # Emoji.
    - attr_list
    - pymdownx.emoji:
        emoji_index: !!python/name:materialx.emoji.twemoji
        emoji_generator: !!python/name:materialx.emoji.to_svg
    # Task lists with checkboxes.
    - pymdownx.tasklist:
        custom_checkbox: true
    # Superfences admonition.
    - admonition
    - pymdownx.details

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - css/mkdocstrings.css

extra:
  generator: false
  analytics:
    provider: google
    property: G-NCB5QMMEKH  # TODO: update, do not use guiferviz's property.
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/guiferviz
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/guiferviz
    - icon: fontawesome/brands/github
      link: https://github.com/guiferviz

# Page tree
nav:
    - Home: index.md
    - API: api.md
    - Flows: flows/
    - Tables: tables/
    - Tags: tags.md
